@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
*{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-image: url('https://images.unsplash.com/photo-1519689680058-324335c77eba?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: #272635;
  font-size: 20px;
  background-color: #A6A6A8;
  border-radius: 7px;
  padding:3px
}
h1{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0;
}
p{
  font-size: 20px;
  font-weight: 700;
}
#message{
  font-size: 25px;
}