doctype html 
head 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    link(rel="shortcut icon" href="#")
    title 
body
    .wrapper 
        h1 Sign up Page
        section#sign_up
            label(for="username") Username 
            input(type="text" id="username")
            label(for="email") Email 
            input(type="text" id="email" name="email")
            label(for="password") Password
            input(type="password" id="password" name="password")
            button(id="submit") Sign up

            p Already have an account? <a href="/login">Login</a>

script
    include ./includes/js/signup.js


style.
    #sign_up {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    label {
        display:block;
    }
    input {
        width:200px;
        padding:10px;
        margin:10px;
    }

