doctype html 
head 
  link(rel="shortcut icon" href="#")
  title 404
body
  .wrapper 
   .container  
      h1 404
      p#message This is our junior developer, he is still working on this page
      p Try your luck on <a href="/">&nbsp;Home page&nbsp;</a> or <a href="/dashboard">&nbsp;Dashboard&nbsp;</a>



style
  include ./includes/style/404.css
